* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.Flex {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-ul {
  display: flex;
  gap: 48px;
}
.cart {
  display: flex;
  gap: 10px;
}
.nav-right {
  display: flex;
  gap: 48px;
}
.home {
  color: rgb(37, 36, 50);
  font-size: 1rem;
  font-weight: 700;
}
.shop-about {
  color: rgb(137, 135, 161);
  font-size: 1rem;
  font-weight: 400;
}
.cart {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 400;
}
.banner {
  align-items: center;
  margin-top: 120px;
}
.banner-text{
    height: 300px;
    width: 570px;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
  color: #000000;
}
.fresh {
  color: #e95a08;
}
.banaer-para {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
}
.banner-img img{
    width: 100%;
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    margin: 0px;
  }
  .nav-ul {
    display: none;
  }
   .banner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: left;
    margin-top: 60px; 
  }
  .banner-text {
    width: 100%;
    height: auto;
    margin-top: 28px;
    padding: 0px 16px 0px 16px;
  }
  .banner-title {
    font-size: 28px;
    width: 65%;
  }
  .banaer-para {
    font-size: 16px;
  }
}
