* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}
body {
  background-color: #f3f5fc;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.Flex {
  display: flex;
}
nav li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-ul {
  display: flex;
  gap: 48px;
}
.cart {
  display: flex;
  gap: 10px;
}
.nav-right {
  display: flex;
  gap: 48px;
}
.home {
  color: rgb(37, 36, 50);
  font-size: 1rem;
  font-weight: 700;
}
.shop-about {
  color: rgb(137, 135, 161);
  font-size: 1rem;
  font-weight: 400;
}
.cart {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 400;
}
.banner {
  align-items: center;
  margin-top: 120px;
}
.banner-text {
  height: 300px;
  width: 570px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 13px;
}
.fresh {
  color: #e95a08;
}
.banner-para {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  font-weight: 400;
}
.banner-img img {
  width: 100%;
}

/***** Plants Section Styles *****/

.plants-section {
  margin-bottom: 210px;
}
.plants-text {
  margin-top: 120px;
  margin-bottom: 49px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.plants-text h1 {
  font-family: "Noto Serif", serif;
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.plants-text p {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  width: 77%;
  height: 53px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
.card {
  text-align: center;
}
.card button {
  background-color: rgb(233, 90, 8);
  color: white;
  border: none;
  padding: 26px 50px 26px 50px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.card button:hover {
  background-color: #d35400;
}
.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 30px 69px 20px 69px;
}

.card p {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 30px;
}

/***** plants-lover-section styles *****/

.plants-lover-section {
  gap: 60px;
  margin-bottom: 130px;
}

.plants-lover-section-title {
  font-family: "Noto Serif", serif;
  color: rgb(0, 0, 0);
  font-size: 3.125rem;
  font-weight: 700;
  margin-top: 38px;
}
.plants-lover-section-list {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 27px;
}
.plants-lover-section-list li {
  margin: 20px 0px;
}
.plants-lover-img {
  position: relative;
}
.trusted-badge {
  position: absolute;
  top: -110px;
  left: 350px;
  width: 286px;
  height: 286px;
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    margin: 0px;
  }
  .navbar {
    margin-left: 16px;
    margin-right: 16px;
  }
  .nav-ul {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: left;
    margin-top: 60px;
  }
  .banner-text {
    width: 100%;
    height: auto;
    margin-top: 28px;
    padding: 0px 16px 0px 16px;
  }
  .banner-title {
    font-size: 1.75rem;
    width: 65%;
  }
  .banner-para {
    font-size: 1rem;
  }
  .plants-section {
    margin: 0px 15px 40px 5px;
  }
  .plants-text p {
    width: 100%;
  }
  .plants-text {
    margin-top: 65px;
    margin-bottom: 50px;
    padding-bottom: 80px;
  }
  .card-container {
    grid-template-columns: repeat(2, calc((100% - 20px) / 2));
    gap: 20px;
    padding-left: 10px;
  }
  .card h3 {
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
  }
  .card button {
    padding: 15px 0px;
  }
  .plants-lover-section {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }
  .flower-store {
    width: 100%;
  }
  .plants-lover-section-title {
    margin-top: 18px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
  }
  .plants-lover-section-list li {
    margin: 16px 0px;
  }
  .plants-lover-section-list {
    font-size: 0.875rem;
    line-height: 17px;
  }
  .trusted-badge {
    display: none;
  }
}
