* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}
.Flex {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-ul {
  display: flex;
  gap: 48px;
}
.cart {
  display: flex;
  gap: 10px;
}
.nav-right {
  display: flex;
  gap: 48px;
}
.home {
  color: rgb(37, 36, 50);
  font-size: 1rem;
  font-weight: 700;
}
.shop-about {
  color: rgb(137, 135, 161);
  font-size: 1rem;
  font-weight: 400;
}
.cart {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    margin: 0px;
  }
  .nav-ul {
    display: none;
  }
}
